@import "tailwindcss";

:root {
  --color-TelegramBlue: #2AABEE;
  --color-TelegramBlueHover: #229ED9;
  --color-bg-primary: #ffffff;
  --color-text-primary: #000000;
  --font-family-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family-body);
  background-color: #f7f9fa; /* Telegram light background */
  color: var(--color-text-primary);
  margin: 0;
  min-height: 100vh;
}